<div class="container">
  <h1 style="margin-top: 50px;"><%= @challenge.participants_as_str(medals: !@challenge.active?).gsub(', ', ' vs ') %></h1>
  <% if @challenge.active? %>
  <span class="badge bg-success">active</span>
  <% else %>
  <span class="badge bg-danger">completed</span>
  <% end %>

  <% if !@challenge.active? %>
  <div style="margin-top: 20px;"><b style="color: green;">winner</b>: <%= @challenge.winner&.name || 'TIE' %></div>
  <% end %>

  <div style="margin-top: 20px;"><b>duration</b>: <%= @challenge.started_at.strftime("%Y %b %d") %> - <%= @challenge.ended_at.strftime("%Y %b %d") %></div>
  <div><b>target</b>: <%= @challenge.workout_target %> workouts</div>
  <div style="margin-bottom: 50px;"><b>cost</b>: $<%= '%.2f' % @challenge.cost_per_workout %> / workout 🪙</div>

  <!-- Button trigger modal -->
  <button style="margin: 0 0 50px 0;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#workout-modal">
    + add workout
  </button>

  <!-- Nav -->
  <script>
    function showSummary(e) {
      // Toggle content
      document.getElementById('nav-content-summary').style.display = 'flex';
      document.getElementById('nav-content-workouts').style.display = 'none';

      // Toggle active tab
      document.getElementById('tab-for-summary').classList.add('active');
      document.getElementById('tab-for-workouts').classList.remove('active');
    }

    function showWorkouts(e) {
      // Toggle content
      document.getElementById('nav-content-summary').style.display = 'none';
      document.getElementById('nav-content-workouts').style.display = 'initial';

      // Toggle active tab
      document.getElementById('tab-for-summary').classList.remove('active');
      document.getElementById('tab-for-workouts').classList.add('active');
    }
  </script>
  <ul class="nav nav-tabs" style="margin-bottom: 50px;">
    <li class="nav-item">
      <a id="tab-for-summary" class="nav-link active" href="#" onClick="showSummary(event)">summary</a>
    </li>
    <li class="nav-item">
      <a id="tab-for-workouts" class="nav-link" href="#" onClick="showWorkouts(event)">workouts</a>
    </li>
  </ul>

  <div id="nav-content-summary" class="row" style="margin-bottom: 50px;">
    <% @participants.each_with_index do |p, idx| %>
    <div class="card" style="width: 18rem; margin-right: 25px;">
      <div class="card-body">
        <h5 class="card-title"><%= p.name %></h5>
        <%
          workout_count = p.workout_count(challenge: @challenge)
          pct_complete = 100 * (workout_count / @challenge.workout_target.to_f)
          pct_complete = 100 if pct_complete > 100

          cost = p.cost_of(@challenge)
          cost_f = "#{cost >= 0 ? '+' : '-'}$#{'%.2f' % cost.abs}"
          color_hex = cost >= 0 ? "198754" : "dc3545"
        %>
        <p class="card-text"><%= workout_count %> <%= workout_count != 1 ? 'workouts' : 'workout' %></p>
        <p class="card-text" style="color: #<%= color_hex %>"><b><%= cost_f %></b></p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= pct_complete.ceil %>%" aria-valuenow="<%= pct_complete.ceil %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="workout-modal" tabindex="-1" aria-labelledby="workout-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="workout-modal-label">add workout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id='workout-form' method="post" action="/workouts">
          <div class="modal-body">
            <p>
              <input type="hidden" name="workout[challenge_id]" value="<%= @challenge.id %>" />
              <b><%= @person.name %></b> worked out on
              <input
                type="date"
                name="workout[occurred_on]"
                value="<%= [Time.now, @challenge.ended_at].min.strftime("%Y-%m-%d") %>"
                min="<%= @challenge.started_at %>"
                max="<%= @challenge.ended_at %>" />
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
            <button type="submit" class="btn btn-primary">add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="nav-content-workouts" style="display: none;" >
    <table class="table table-sm table-hover w-50">
      <tr>
        <th>name</th>
        <th>workout date ↓</th>
        <th></th>
      </tr>
      <% @workouts.each do |w| %>
      <tr>
        <td style="width: 200px;"><%= w.participant.name %></td>
        <td style="width: 200px;"><%= w.occurred_on %></td>
        <td style="padding: 0;">
          <% if w.participant == @person %>
          <form
            method="post"
            action="/workouts/<%= w.id %>/destroy"
            onsubmit="return confirm('Delete <%= w.participant.name %>\'s workout on <%= w.occurred_on %>?');">
            <button class="btn btn-sm btn-outline-light">
              ❌
            </button>
          </form>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
